.primary_btn{
    padding: 18px 18px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 228px;
    font-size: 16px;
    justify-content: center;
}

.outline_btn{
    padding: 18px 18px;
    border: 1px solid black;
    color: #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 228px;
    font-size: 16px;
    justify-content: center;
    background-color: white;
    width: 100%;
}